{% extends 'newbase.html' %}

{% block head %}
    <title>Mail Statement</title>
{% endblock %}

{% block body %}
    {#    <div class="container">#}
    {#        <h2>{{ title }}</h2>#}
    {#    </div>#}
    <section class="fdb-block"
             style="height: 100vh;padding-top: 3rem; background-image: url('https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//hero/purple.svg')">
        <div class="container" style="margin-top: 6vh;">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
                    <div class="fdb-box fdb-touch">
                        <div class="row">
                            <div class="col">
                                <h1>Register</h1>
                            </div>
                        </div>
                        <h2>{{ title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}