{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Profile</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}
        <div class="pb-3">
            <div class="card" style="width: 18rem;">
                <img src="{{ user.profile.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">{{ user.email }}</p>
                </div>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Profile Information
                </legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
        {% for post in user.car_set.all %}
            <div class="pb-3">
                <div class="pb-5 border text-center">
                    {% for img in post.image_set.all %}
                        <img class="pt-5" src="../../../media/{{ img.path }}" alt="" width="25%">
                    {% endfor %}
                        <img src="../../../media/{{ post.owner.profile.image }}" alt="" width="5%">
                        <a href="{% url 'detail' post.id %}"><h2>Model: {{ post.car_model }}</h2></a>
                        {% if request.user.id == post.owner.id %}
                            <a href="{% url 'profile' %}"><h3>Owner: {{ post.owner }}</h3></a>
                        {% else %}
                            <a href="{% url 'display_profile' post.owner.id %}"><h3>Owner: {{ post.owner }}</h3></a>
                        {% endif %}
                        <p>Detail: {{ post.detail }}</p>
                        {% for money in post.price_set.all %}
                            <ul id="horin">
                                <li>Hour: {{ money.hour }}</li>
                                <li>Day: {{ money.day }}</li>
                                <li>Week: {{ money.week }}</li>
                                <li>Month: {{ money.month }}</li>
                            </ul>
                        {% endfor %}
                        <small>Create date: {{ post.date_posted }}</small>
                        <div class="row pt-2">
                            <a href="{% url 'update' post.id%}" class="col-sm-6 btn btn-primary bg-success border-success pr-1">update post</a>
                            <a href="{% url 'delete' post.id %}" class="col-sm-6 btn btn-primary bg-danger border-danger">delete post</a>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}