{#{% extends 'newbase.html' %}#}
{#{% load crispy_forms_tags %}#}
{#{% load cloudinary %}#}
{#{% block head %}#}
{#    <title>Profile</title>#}
{#{% endblock %}#}
{##}
{#{% block body %}#}
{#    <header class="masthead" style="height: 100vh;">#}
{#        <div class="container h-100">#}
{#            <div class="row h-100 align-items-center justify-content-center text-center">#}
{##}
{##}
{#                <div class="col-lg-10 ">#}
{#                    <label class=newbtn>#}
{#                        <img id="blah"#}
{#                             style="vertical-align: middle;width: 250px;height: 250px;border-radius: 50%;object-fit: cover;border: #FFFFFF solid 5px;"#}
{#                             src="{{ user.profile.image.url }}">#}
                        {#                        {{ p_form.image }}#}
{#                    </label>#}
{#                </div>#}
{##}
{##}
{#                <div class="col-lg-10 ">#}
{#                    <h2 class="text-uppercase text-white font-weight-bold">{{ user.first_name }} {{ user.last_name }}</h2>#}
{#                </div>#}
{#                <div class="col-lg-10 ">#}
{#                    <h4 class="text-uppercase text-white font-weight-bold">{{ user.username }}</h4>#}
{#                </div>#}
{#                <div class="col-lg-10 ">#}
{#                    <h4 class=" text-white font-weight-bold">{{ user.email }}</h4>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </header>#}
{#    <section id="about">#}
{#        <div class="container-fluid p-0">#}
{#            <!-- Page Content -->#}
{#            <div class="container">#}
{##}
{#                <!-- Page Heading -->#}
{#                <h1 class="my-4">Your Car(s)</h1>#}
{#                <hr>#}
{#                <div class="row">#}
{#                    {% for car in user.car_set.all %}#}
{#                        <div class="col-lg-4 col-sm-6 mb-4">#}
{#                            <a href="{% url 'detail' car.id %}">#}
{#                                <div class="card h-100">#}
{#                                    <img class="card-img-top"#}
{#                                         style="object-fit: cover;height: 100%;"#}
{#                                         src="../../../media/{{ car.image_set.all.first.path }}"#}
{#                                         alt="">#}
{#                                    <div class="card-body">#}
{#                                        <h4 class="card-title">#}
{#                                            <a href="{% url 'detail' car.id %}">{{ car.car_model }}</a>#}
{#                                            <h6><img#}
{#                                                    style="vertical-align: middle;width: 30px;height: 30px;border-radius: 50%;object-fit: cover;margin-right:10px"#}
{#                                                    src="../../../media/{{ car.owner.profile.image }}" alt=""#}
{#                                                    width="5%">{{ car.owner }}</h6>#}
{#                                        </h4>#}
{#                                        {% for money in car.price_set.all %}#}
{#                                            <ul id="horin">#}
{#                                                <li>Hour: {{ money.hour }}</li>#}
{#                                                <li>Day: {{ money.day }}</li>#}
{#                                                <li>Week: {{ money.week }}</li>#}
{#                                                <li>Month: {{ money.month }}</li>#}
{#                                            </ul>#}
{#                                        {% endfor %}#}
{#                                        <small>Create date: {{ car.date_posted }}</small>#}
{##}
{#                                    </div>#}
{#                                    <div class="card-footer text-muted">#}
{#                                        <div class="row pt-2">#}
{#                                            <a href="{% url 'update' car.id %}"#}
{#                                               class="col-sm-6 btn btn-primary bg-success border-success pr-1">update#}
{#                                                post</a>#}
{#                                            <a href="{% url 'delete' car.id %}"#}
{#                                               class="col-sm-6 btn btn-primary bg-danger border-danger">delete post</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </a>#}
{##}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{##}
{##}
{#    <section class="fdb-block">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-12 col-md-8">#}
{#                    {% if messages %}#}
{#                        {% for message in messages %}#}
{#                            <div class="alert alert-{{ message.tags }}">#}
{#                                {{ message }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{##}
{#                    <div class="pb-3">#}
{##}
{#                    </div>#}
{#                    <form method="POST" enctype="multipart/form-data">#}
{#                        {% csrf_token %}#}
{#                        <fieldset class="form-group">#}
{#                            <legend class="border-bottom mb-4">#}
{#                                Profile Information#}
{#                            </legend>#}
{##}
{#                            {{ u_form|crispy }}#}
{#                            {{ p_form|crispy }}#}
{#                            <input id="{{ p_form.image.id }}" type="file">#}
{##}
                            {#                            {{ p_form|crispy }}#}
{##}
{#                        </fieldset>#}
{#                        <div class="form-group">#}
{#                            <button class="btn btn-outline-info" type="submit">Update</button>#}
{#                        </div>#}
{#                    </form>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!-- Footer -->#}
{#    <footer class="bg-light py-5">#}
{#        <div class="container">#}
{#            <div class="small text-center text-muted">Copyright &copy; 2019 - Start Bootstrap</div>#}
{#        </div>#}
{#    </footer>#}
{#{% endblock %}#}

{% extends 'newbase.html' %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    <header class="masthead" style="background-image:url(https://lonewolfonline.net/uploads/2018/08/canvas-650x300.png);height: 100vh;">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">


                <div class="col-lg-10 ">
                    <label class=newbtn>
                        <img id="blah"
                             style="vertical-align: middle;width: 250px;height: 250px;border-radius: 50%;object-fit: cover;border: #FFFFFF solid 5px;"
                             src="{{ user.profile.image.url }}">
                        {#                        {{ p_form.image }}#}
                    </label>
                </div>


                <div class="col-lg-10 ">
                    <h2 class="text-uppercase text-white font-weight-bold">{{ user.first_name }} {{ user.last_name }}</h2>
                </div>
                <div class="col-lg-10 ">
                    <h4 class="text-uppercase text-white font-weight-bold">{{ user.username }}</h4>
                </div>
                <div class="col-lg-10 ">
                    <h4 class=" text-white font-weight-bold">{{ user.email }}</h4>
                </div>

            </div>
        </div>
    </header>
    <section id="about">
        <div class="container-fluid p-0">
            <!-- Page Content -->
            <div class="container">

                <!-- Page Heading -->
                <h1 class="my-4">Your Car(s)</h1>
                <hr>
                <div class="row">
                    {% for car in user.car_set.all %}
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <a href="{% url 'detail' car.id %}" style="height: 196px;">
                                <div class="card h-100">
                                    <img class="card-img-top"
                                         style="object-fit: cover;height: 100%;"
                                         src="../../../media/{{ car.image_set.all.first.path }}"
                                         alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="{% url 'detail' car.id %}">{{ car.car_model }}</a>
                                            <h6><img
                                                    style="vertical-align: middle;width: 30px;height: 30px;border-radius: 50%;object-fit: cover;margin-right:10px"
                                                    src="../../../media/{{ car.owner.profile.image }}" alt=""
                                                    width="5%">{{ car.owner }}</h6>
                                        </h4>
                                        {% for money in car.price_set.all %}
                                            <ul id="horin">
                                                <li>Hour: {{ money.hour }}</li>
                                                <li>Day: {{ money.day }}</li>
                                                <li>Week: {{ money.week }}</li>
                                                <li>Month: {{ money.month }}</li>
                                            </ul>
                                        {% endfor %}
                                        <small>Create date: {{ car.date_posted }}</small>

                                    </div>
                                    <div class="card-footer text-muted">
                                        <div class="row pt-2">
                                            <a href="{% url 'update' car.id %}"
                                               class="col-sm-6 btn btn-primary bg-success border-success pr-1">update
                                                post</a>
                                            <a href="{% url 'delete' car.id %}"
                                               class="col-sm-6 btn btn-primary bg-danger border-danger">delete post</a>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    <section class="fdb-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="pb-3">

                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">
                                Name
                            </legend>

                            {{ u_form|crispy }}

                            <legend class="border-bottom mb-4">
                                Profile Information
                            </legend>
                            <label for="id_image" class="custom-file-upload"
                                   style="width: 200px;height: 200px">
                                <img src="https://image.flaticon.com/icons/png/128/401/401061.png"
                                     style="width: 100%;height: 100%;object-fit: cover;"
                                     id="output5"/>
                            </label>
                            <div class="">
                                <input type="file" name="image" accept="image/*" class="clearablefileinput"
                                       id="id_image" onchange="loadFile5(event)">
                            </div>

                            {#                            <label for="id_image" class="custom-file-upload"#}
                            {#                                   style="width: 100%;height: 100%">#}
                            {#                                <img src="https://image.flaticon.com/icons/png/128/401/401061.png"#}
                            {#                                     style="width: 100%;height: 100%;object-fit: cover;"#}
                            {#                                     id="output5"/>#}
                            {#                            </label>#}
                            {#                            <input type="file" name="form-5-path" accept="image/*"#}
                            {#                                   class="clearablefileinput" id="id_image"#}
                            {#                                   onchange="loadFile5(event)">#}

                            <script>
                                var loadFile5 = function (event) {
                                    var output = document.getElementById('output5');
                                    output.src = URL.createObjectURL(event.target.files[0]);
                                };
                            </script>


                            {#                                    <input type="file" name="image" accept="image/*" class="clearablefileinput"#}
                            {#                                           id="id_image"></div>#}


                            {#                            <div class="multiField">#}
                            {#                                <div id="div_id_form-5-path" class="form-group">#}
                            {#                                    <label for="id_form-5-path" class="custom-file-upload"#}
                            {#                                           style="width: 100%;height: 100%">#}
                            {#                                        <img src="https://image.flaticon.com/icons/png/128/401/401061.png"#}
                            {#                                             style="width: 100%;height: 100%;object-fit: cover;"#}
                            {#                                             id="output5"/>#}
                            {#                                    </label>#}
                            {#                                    <input type="file" name="form-5-path" accept="image/*"#}
                            {#                                           class="clearablefileinput" id="id_form-5-path"#}
                            {#                                           onchange="loadFile5(event)">#}
                            {#                                </div>#}
                            {#                                <input type="hidden" name="form-5-image_id" id="id_form-5-image_id">#}
                            {#                            </div>#}
                            {#                                {{ p_form.image|as_crispy_field }}#}
                            {{ p_form.dob|as_crispy_field }}
                            {{ p_form.license_driver|as_crispy_field }}
                            {{ p_form.address|as_crispy_field }}
                            {{ p_form.phone|as_crispy_field }}
                            {#                            <input id="{{ p_form.image.id }}" type="file">#}

                            {#                            {{ p_form|crispy }}#}

                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>


    <style>
        input[type="file"] {
            display: none;
        }

        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    </style>

    {#    <div id="div_id_image" class="form-group">#}
    {#        <label for="id_image" class="col-form-label  requiredField">#}
    {#            Image<span class="asteriskField">*</span>#}
    {#        </label>#}
    {#        <div class="">#}
    {#            Currently: <a href="/media/profile_pics/426706_ceeBALZPfQZL5rM9wHiAk9.jpg">profile_pics/426706_ceeBALZPfQZL5rM9wHiAk9.jpg</a><br>#}
    {#            Change:#}
    {#            <input type="file" name="image" accept="image/*" class="clearablefileinput" id="id_image">#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}
