<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Detail Page</title>
        <style>
            ul#horin{
                min-width: 696px;
                list-style: none;
            }
            ul#horin li{
                display: inline;
            }
        </style>
    {% endblock %}
</head>

<body>
    {% block body %}
      {% load static %} <!-- This mean posts app static file -->
        <div class="container">
            <h2 class="text-center">This is Detail Page</h2>
            <br>
                <div class="pb-5 border text-center">
                    {% for img in object.image_set.all  %}
                        <img class="pt-5" src="../../../media/{{ img.path }}" alt="" width="25%">
                    {% endfor %}
                    <img src="../../../media/{{ object.owner.profile.image }}" alt="" width="5%">
                    <h2>Model: {{ object.car_model }}</h2>
                    <h3>Owner: {{ object.owner }}</h3>
                    <p>Detail: {{ object.detail }}</p>
                        {% for money in object.price_set.all %}
                            <ul id="horin">
                                <li>Hour: {{ money.price.hour }}</li>
                                <li>Day: {{ money.price.day }}</li>
                                <li>Week: {{ money.price.week }}</li>
                                <li>Month: {{ money.price.month }}</li>
                            </ul>
                        {% endfor %}
                    <small>Create date: {{ object.date_posted }}</small>
                </div>
                <br>
        </div>
    {% endblock %}
</body>

</html>