<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Detail Page</title>
        <style>
            ul#horin{
                min-width: 696px;
                list-style: none;
            }
            ul#horin li{
                display: inline;
            }
        </style>
    {% endblock %}
</head>

<body>
    {% block body %}
      {% load static %} <!-- This mean posts app static file -->
        <div class="container">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                   {{ message }}
                 </div>
               {% endfor %}
            {% endif %}
            <h2 class="text-center">This is Detail Page</h2>
            <br>
                <div class="pb-5 border text-center">
                    {% for img in post.image_set.all  %}
                        <img class="pt-5" src="../../../media/{{ img.path }}" alt="" width="25%">
                    {% endfor %}
                    <img src="../../../media/{{ post.owner.profile.image }}" alt="" width="5%">
                    <h2>Model: {{ post.car_model }}</h2>
                    {% if request.user.id == post.owner.id %}
                        <a href="{% url 'profile' %}"><h3>Owner: {{ post.owner }}</h3></a>
                    {% else %}
                        <a href="{% url 'display_profile' post.owner.id %}"><h3>Owner: {{ post.owner }}</h3></a>
                    {% endif %}
                    <p>Detail: {{ post.detail }}</p>
                    {% for money in post.price_set.all %}
                        <ul id="horin">
                            <li>Hour: {{ money.hour }}</li>
                            <li>Day: {{ money.day }}</li>
                            <li>Week: {{ money.week }}</li>
                            <li>Month: {{ money.month }}</li>
                        </ul>
                    {% endfor %}
                    <small>Create date: {{ post.date_posted }}</small>
                </div>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            Review
                        </legend>
                        {% for rev in post.review_set.all %}
                            <div class="border">
                                <div class="row">
                                    <div class="col-md-12"><label>Rate:</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><input class="form-control" type="number" value="{{ rev.rating }}" readonly></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><label>Description:</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><input type="text" class="form-control" value="{{ rev.review }}" readonly></div>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                        {{ review_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit Review</button>
                    </div>
                </form>
                <a href="{% url 'rent_post' post.id %}"><button>Renting</button></a>
        </div>
    {% endblock %}
</body>

</html>