<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            ul#horin{
                min-width: 696px;
                list-style: none;
            }
            ul#horin li{
                display: inline;
            }
        </style>
    {% endblock %}
</head>

<body>
    {% block body %}
      {% load static %} <!-- This mean posts app static file -->
        <div class="container">
            <h2 class="text-center">This is Home page</h2>
            <br>
            {% for post in posts %}
                <div class="pb-5 border text-center">
                    <img class="pt-5" src="../../../media/{{ post.image.path }}" alt="" width="25%">
                    <img src="../../../media/{{ post.car.owner.profile.image }}" alt="" width="5%">
                    <h2>Model: {{ post.car.car_model }}</h2>
                    <h3>Owner: {{ post.car.owner }}</h3>
                    <p>Detail: {{ post.car.detail }}</p>
                        <ul id="horin">
                            <li>Hour: {{ post.price.hour }}</li>
                            <li>Day: {{ post.price.day }}</li>
                            <li>Week: {{ post.price.week }}</li>
                            <li>Month: {{ post.price.month }}</li>
                        </ul>
                    <small>Create date: {{ post.car.date_posted }}</small>
                </div>
                <br>
            {% endfor %}
        </div>
    {% endblock %}
</body>

</html>