{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %}
    <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
               {{ message }}
             </div>
           {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    New Post
                </legend>
                {{ car_form|crispy }}
                {{ image_form|crispy }}
                {{ price_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register Car</button>
            </div>
        </form>
    </div>
{% endblock %}