{#{% extends 'newbase.html' %}#}
{#{% load crispy_forms_tags %}#}
{##}
{#{% block head %}#}
{#    <title>Register</title>#}
{#{% endblock %}#}
{##}
{#{% block body %}#}
{#    <section class="fdb-block fdb-viewport bg-dark masthead">#}
{#        <div class="container justify-content-center align-items-center d-flex">#}
{#            <div class="row justify-content-center text-center">#}
{#                <div class="col-12 col-md-8">#}
{##}
{#                    <h1>For rent your Car</h1>#}
{#                    <p class="lead">Many people want to use your car. But you have to fill car's Information as system#}
{#                        needed</p>#}
{#                    <p class="mt-5"><a class="btn btn-dark">Start for Rent</a></p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <div class="container">#}
{#        {% if messages %}#}
{#            {% for message in messages %}#}
{#                <div class="alert alert-{{ message.tags }}">#}
{#                    {{ message }}#}
{#                </div>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#        <form method="POST" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <fieldset class="form-group">#}
{#                <legend class="border-bottom mb-4">#}
{#                    New Post#}
{#                </legend>#}
{#                {{ car_form|crispy }}#}
{#                {{ image_form|crispy }}#}
{#                {{ price_form|crispy }}#}
{#            </fieldset>#}
{#            <div class="form-group">#}
{#                <button class="btn btn-outline-info" type="submit">Register Car</button>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#    <section class="fdb-block">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-12 col-md-8">#}
{#                    {% if messages %}#}
{#                        {% for message in messages %}#}
{#                            <div class="alert alert-{{ message.tags }}">#}
{#                                {{ message }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{##}
{#                    <form method="POST" enctype="multipart/form-data">#}
{#                        {% csrf_token %}#}
{#                        <fieldset class="form-group">#}
{#                            <legend class="border-bottom mb-4">#}
{#                                Car Information#}
{#                            </legend>#}
{#                            {{ car_form|crispy }}#}
{#                            {{ image_form|crispy }}#}
{#                            <input type="hidden" name="form-TOTAL_FORMS" value="5" id="id_form-TOTAL_FORMS">#}
{#                            <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">#}
{#                            <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">#}
{#                            <input type="hidden" name="form-MAX_NUM_FORMS" value="6" id="id_form-MAX_NUM_FORMS">#}
{##}
{#                            <input onchange="upload_img(this);" type="file" name="form-0-path" accept="image/*" id="id_form-0-path">#}
{#                            <input type="hidden" name="form-0-image_id" id="id_form-0-image_id">#}
{#                            <img id="img_id" src="#" alt="your image" />#}
{#                            <script type="text/javascript">#}
{#                                function upload_img(input) {#}
{#                                    if (input.files && input.files[0]) {#}
{#                                        var reader = new FileReader();#}
{#                                        reader.onload = function (e) {#}
{#                                            $('#img_id').attr('src', e.target.result);#}
{#                                        }#}
{#                                        reader.readAsDataURL(input.files[0]);#}
{#                                    }#}
{#                                }#}
{#                            </script>#}
{#                            <input type="file" name="form-1-path" accept="image/*" id="id_form-1-path">#}
{#                            <input type="hidden" name="form-1-image_id" id="id_form-1-image_id">#}
{#                            <input type="file" name="form-2-path" accept="image/*" id="id_form-2-path">#}
{#                            <input type="hidden" name="form-2-image_id" id="id_form-2-image_id">#}
{#                            <input type="file" name="form-3-path" accept="image/*" id="id_form-3-path">#}
{#                            <input type="hidden" name="form-3-image_id" id="id_form-3-image_id">#}
{#                            <input type="file" name="form-4-path" accept="image/*" id="id_form-4-path">#}
{#                            <input type="hidden" name="form-4-image_id" id="id_form-4-image_id">#}
{##}
{#                            {{ price_form|crispy }}#}
{#                        </fieldset>#}
{#                        <div class="form-group">#}
{#                            <button class="btn btn-outline-info" type="submit">Update</button>#}
{#                        </div>#}
{#                    </form>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{##}
{#    <input type="file" name="form-0-path" accept="image/*" class="clearablefileinput" id="id_form-0-path">#}
{##}
{##}
{#    <script type="text/javascript">#}
{##}
{##}
{#        function upload_img(input) {#}
{#            if (input.files && input.files[0]) {#}
{#                var reader = new FileReader();#}
{##}
{#                reader.onload = function (e) {#}
{#                    $('#img_id').attr('src', e.target.result);#}
{#                }#}
{##}
{#                reader.readAsDataURL(input.files[0]);#}
{#            }#}
{#        }#}
{##}
{#    </script>#}
{##}
{#{% endblock %}#}

{% extends 'newbase.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %}
    <section class="fdb-block fdb-viewport bg-dark" style="background-image:url(https://lonewolfonline.net/uploads/2018/08/canvas-650x300.png)">
        <div class="container justify-content-center align-items-center d-flex">
            <div class="row justify-content-center text-center">
                <div class="col-12 col-md-8">

                    <h1>For rent your Car</h1>
                    <p class="lead">Many people want to use your car. But you have to fill car's Information as system
                        needed</p>
                    <p class="mt-5"><a class="btn btn-dark">Start for Rent</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="fdb-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">
                                Car Information
                            </legend>
                            {{ car_form|crispy }}
                            <input type="hidden" name="form-TOTAL_FORMS" value="6" id="id_form-TOTAL_FORMS"> <input
                                type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS"> <input
                                type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS"> <input
                                type="hidden" name="form-MAX_NUM_FORMS" value="6" id="id_form-MAX_NUM_FORMS">


                            <div class="row">
                                <div class="col-sm">
                                    <div class="multiField">
                                        <div id="div_id_form-0-path" class="form-group">
                                            <label for="id_form-0-path" class="custom-file-upload"
                                                   style="width: 100%;height: 100%">
                                                <img src="https://image.flaticon.com/icons/png/128/401/401061.png"
                                                     style="width: 100%;height: 100%;object-fit: cover;" id="output0">
                                            </label>
                                            <input type="file" name="form-0-path" accept="image/*"
                                                   class="clearablefileinput" id="id_form-0-path" accept="image/*"
                                                   onchange="loadFile0(event)">
                                        </div>
                                        <input type="hidden" name="form-0-image_id" id="id_form-0-image_id">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="multiField">
                                        <div id="div_id_form-1-path" class="form-group">
                                            <label for="id_form-1-path" class="custom-file-upload"
                                                   style="width: 100%;height: 100%">
                                                <img src="https://image.flaticon.com/icons/png/128/401/401061.png"
                                                     style="width: 100%;height: 100%;object-fit: cover;"
                                                     id="output1"/>
                                            </label>
                                            <input type="file" name="form-1-path" accept="image/*"
                                                   class="clearablefileinput" id="id_form-1-path"
                                                   onchange="loadFile1(event)">
                                        </div>
                                        <input type="hidden" name="form-1-image_id" id="id_form-1-image_id">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="multiField">
                                        <div id="div_id_form-2-path" class="form-group">
                                            <label for="id_form-2-path" class="custom-file-upload"
                                                   style="width: 100%;height: 100%">
                                                <img src="https://image.flaticon.com/icons/png/128/401/401061.png"
                                                     style="width: 100%;height: 100%;object-fit: cover;"
                                                     id="output2"/>
                                            </label>
                                            <input type="file" name="form-2-path" accept="image/*"
                                                   class="clearablefileinput" id="id_form-2-path"
                                                   onchange="loadFile2(event)">
                                        </div>
                                        <input type="hidden" name="form-2-image_id" id="id_form-2-image_id">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <div class="multiField">
                                        <div id="div_id_form-3-path" class="form-group">
                                            <label for="id_form-3-path" class="custom-file-upload"
                                                   style="width: 100%;height: 100%">
                                                <img src="https://image.flaticon.com/icons/png/128/401/401061.png"
                                                     style="width: 100%;height: 100%;object-fit: cover;"
                                                     id="output3"/>
                                            </label>
                                            <input type="file" name="form-3-path" accept="image/*"
                                                   class="clearablefileinput" id="id_form-3-path"
                                                   onchange="loadFile3(event)">
                                        </div>
                                        <input type="hidden" name="form-3-image_id" id="id_form-3-image_id">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="multiField">
                                        <div id="div_id_form-4-path" class="form-group">
                                            <label for="id_form-4-path" class="custom-file-upload"
                                                   style="width: 100%;height: 100%">
                                                <img src="https://image.flaticon.com/icons/png/128/401/401061.png"
                                                     style="width: 100%;height: 100%;object-fit: cover;"
                                                     id="output4"/>
                                            </label>
                                            <input type="file" name="form-4-path" accept="image/*"
                                                   class="clearablefileinput" id="id_form-4-path"
                                                   onchange="loadFile4(event)">
                                        </div>
                                        <input type="hidden" name="form-4-image_id" id="id_form-4-image_id">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="multiField">
                                        <div id="div_id_form-5-path" class="form-group">
                                            <label for="id_form-5-path" class="custom-file-upload"
                                                   style="width: 100%;height: 100%">
                                                <img src="https://image.flaticon.com/icons/png/128/401/401061.png"
                                                     style="width: 100%;height: 100%;object-fit: cover;"
                                                     id="output5"/>
                                            </label>
                                            <input type="file" name="form-5-path" accept="image/*"
                                                   class="clearablefileinput" id="id_form-5-path"
                                                   onchange="loadFile5(event)">
                                        </div>
                                        <input type="hidden" name="form-5-image_id" id="id_form-5-image_id">
                                    </div>
                                </div>
                            </div>


                            {#                            <input type="file" accept="image/*" onchange="loadFile(event)">#}
                            <script>
                                var loadFile0 = function (event) {
                                    var output = document.getElementById('output0');
                                    output.src = URL.createObjectURL(event.target.files[0]);
                                };
                                var loadFile1 = function (event) {
                                    var output = document.getElementById('output1');
                                    output.src = URL.createObjectURL(event.target.files[0]);
                                };
                                var loadFile2 = function (event) {
                                    var output = document.getElementById('output2');
                                    output.src = URL.createObjectURL(event.target.files[0]);
                                };
                                var loadFile3 = function (event) {
                                    var output = document.getElementById('output3');
                                    output.src = URL.createObjectURL(event.target.files[0]);
                                };
                                var loadFile4 = function (event) {
                                    var output = document.getElementById('output4');
                                    output.src = URL.createObjectURL(event.target.files[0]);
                                };
                                var loadFile5 = function (event) {
                                    var output = document.getElementById('output5');
                                    output.src = URL.createObjectURL(event.target.files[0]);
                                };
                            </script>


                            {#                            {{ image_form|crispy }}#}
                            {{ price_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <style>
        input[type="file"] {
            display: none;
        }

        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    </style>

    {#    <input type="file" name="form-0-path" accept="image/*" class="clearablefileinput" id="id_form-0-path">#}


    {#    <script type="text/javascript">#}
    {##}
    {##}
    {#        function upload_img(input) {#}
    {#            if (input.files && input.files[0]) {#}
    {#                var reader = new FileReader();#}
    {##}
    {#                reader.onload = function (e) {#}
    {#                    $('#img_id').attr('src', e.target.result);#}
    {#                }#}
    {##}
    {#                reader.readAsDataURL(input.files[0]);#}
    {#            }#}
    {#        }#}
    {##}
    {#    </script>#}



{% endblock %}