{% extends 'newbase.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Update Post</title>
{% endblock %}

{% block body %}
    {#    <div class="container">#}
    {#        {% if messages %}#}
    {#          {% for message in messages %}#}
    {#            <div class="alert alert-{{ message.tags }}">#}
    {#               {{ message }}#}
    {#             </div>#}
    {#           {% endfor %}#}
    {#        {% endif %}#}
    {#        <form method="POST" enctype="multipart/form-data">#}
    {#            {% csrf_token %}#}
    {#            <fieldset class="form-group">#}
    {#                <legend class="border-bottom mb-4">#}
    {#                    Update Post#}
    {#                </legend>#}
    {#                {{ car_form|crispy }}#}
    {#                {{ image_form|crispy }}#}
    {#                {{ price_form|crispy }}#}
    {#            </fieldset>#}
    {#            <div class="form-group">#}
    {#                <button class="btn btn-outline-info" type="submit">Update</button>#}
    {#            </div>#}
    {#        </form>#}
    {#    </div>#}
    <section class="fdb-block fdb-viewport bg-dark masthead">
        <div class="container justify-content-center align-items-center d-flex" style="margin-top: 62px;">
            <div class="row justify-content-center text-center">
                <div class="col-12 col-md-8">

                    <h1>Update For rent your Car</h1>
                    <p class="lead">Many people want to use your car. But you have to fill car's Information as system
                        needed</p>
                    <p class="mt-5"><a class="btn btn-dark">Start for Rent</a></p>
                </div>
            </div>
        </div>
    </section>
    {#    <div class="container">#}
    {#        {% if messages %}#}
    {#            {% for message in messages %}#}
    {#                <div class="alert alert-{{ message.tags }}">#}
    {#                    {{ message }}#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        {% endif %}#}
    {#        <form method="POST" enctype="multipart/form-data">#}
    {#            {% csrf_token %}#}
    {#            <fieldset class="form-group">#}
    {#                <legend class="border-bottom mb-4">#}
    {#                    New Post#}
    {#                </legend>#}
    {#                {{ car_form|crispy }}#}
    {#                {{ image_form|crispy }}#}
    {#                {{ price_form|crispy }}#}
    {#            </fieldset>#}
    {#            <div class="form-group">#}
    {#                <button class="btn btn-outline-info" type="submit">Register Car</button>#}
    {#            </div>#}
    {#        </form>#}
    {#    </div>#}
    <section class="fdb-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">
                                Car Information
                            </legend>
                            {{ car_form|crispy }}
                            {{ image_form|crispy }}
                            {{ price_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}